In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../data/cleaned_bird_list.csv')

In [6]:
df.head()

,common_name,count,scientific_name,primary_label,IUCN Red List category (Europe),IUCN Red List category (EU27+UK)
0,Arctic Tern,162,sterna paradisaea,arcter,LC,LC
1,Bank Swallow,86,riparia riparia,banswa,LC,LC
2,Barn Owl,387,tyto alba,brnowl,LC,LC
3,Barn Swallow,981,hirundo rustica,barswa,LC,LC
4,Black Francolin,6,francolinus francolinus,blkfra,LC,LC

In [ ]:
df.drop(columns=['IUCN Red List category (Europe)'], inplace=True)

KeyError: "['IUCN Red List category (Europe)'] not found in axis"

In [9]:
df.head()

,common_name,count,scientific_name,primary_label,IUCN Red List category (EU27+UK)
0,Arctic Tern,162,sterna paradisaea,arcter,LC
1,Bank Swallow,86,riparia riparia,banswa,LC
2,Barn Owl,387,tyto alba,brnowl,LC
3,Barn Swallow,981,hirundo rustica,barswa,LC
4,Black Francolin,6,francolinus francolinus,blkfra,LC

In [10]:
df.rename(columns={'IUCN Red List category (EU27+UK)': 'Red List Status'}, inplace=True)

In [11]:
df.head()

,common_name,count,scientific_name,primary_label,Red List Status
0,Arctic Tern,162,sterna paradisaea,arcter,LC
1,Bank Swallow,86,riparia riparia,banswa,LC
2,Barn Owl,387,tyto alba,brnowl,LC
3,Barn Swallow,981,hirundo rustica,barswa,LC
4,Black Francolin,6,francolinus francolinus,blkfra,LC

In [13]:
df['Red List Status'].unique()

array(['LC', 'NT', 'VU', 'EN', 'VU°°', 'VU°'], dtype=object)

In [ ]:
df['Red List Status'].replace({'NT': 'VU', 'VU°': 'VU', 'VU°°': 'VU'}, inplace=True)

In [15]:
df.head()

,common_name,count,scientific_name,primary_label,Red List Status
0,Arctic Tern,162,sterna paradisaea,arcter,LC
1,Bank Swallow,86,riparia riparia,banswa,LC
2,Barn Owl,387,tyto alba,brnowl,LC
3,Barn Swallow,981,hirundo rustica,barswa,LC
4,Black Francolin,6,francolinus francolinus,blkfra,LC

In [16]:
df['Red List Status'].unique()

array(['LC', 'VU', 'EN'], dtype=object)

In [17]:
df.to_csv('final_bird_list.csv', index=False)

In [1]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('../data/finally_bird_list.csv')
df2 = pd.read_csv('../data/european_birds.csv')

In [2]:
df1['secondary_labels'] = None
df1['secondary_labels'] = df2['secondary_labels']

In [3]:
df1.head()

,common_name,count,scientific_name,primary_label,Red List Status,secondary_labels
0,Arctic Tern,162,sterna paradisaea,arcter,LC,[]
1,Bank Swallow,86,riparia riparia,banswa,LC,[]
2,Barn Owl,387,tyto alba,brnowl,LC,[]
3,Barn Swallow,981,hirundo rustica,barswa,LC,[]
4,Black Kite,225,milvus migrans,blakit1,LC,[]

In [5]:
df1['secondary_labels'].nunique()

3