In [2]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('data/points_data.csv')

In [13]:
df.head()

,assessment_id,id_no,sci_name,presence,origin,seasonal,compiler,yrcompiled,citation,legend,subspecies,subpop,dist_comm,island,tax_comm,source,basisofrec,event_year,longitude,latitude
0,158506718,130525346,Senna occidentalis,1,1,1,Cátia Canteiro,2020,RBG Kew,Extant (resident),NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-107.694444,24.437222
1,158506718,130525346,Senna occidentalis,1,1,1,Cátia Canteiro,2020,RBG Kew,Extant (resident),NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-105.529999,20.219999
2,158506718,130525346,Senna occidentalis,1,1,1,Cátia Canteiro,2020,RBG Kew,Extant (resident),NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-105.500000,20.049999
3,158506718,130525346,Senna occidentalis,1,1,1,Cátia Canteiro,2020,RBG Kew,Extant (resident),NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-104.986110,19.375000
4,158506718,130525346,Senna occidentalis,1,1,1,Cátia Canteiro,2020,RBG Kew,Extant (resident),NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-99.225000,23.075000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7207 entries, 0 to 7206
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   assessment_id  7207 non-null   int64
 1   id_no          7207 non-null   int64
 2   sci_name       7207 non-null   object
 3   presence       7207 non-null   int64
 4   origin         7207 non-null   int64
 5   seasonal       7207 non-null   int64
 6   compiler       7207 non-null   object
 7   yrcompiled     7207 non-null   int64
 8   citation       7207 non-null   object
 9   legend         7207 non-null   object
 10  subspecies     0 non-null      float64
 11  subpop         0 non-null      float64
 12  dist_comm      0 non-null      float64
 13  island         0 non-null      float64
 14  tax_comm       0 non-null      float64
 15  source         0 non-null      float64
 16  basisofrec     0 non-null      float64
 17  event_year     7207 non-null   int64
 18  longitude      7207 non-null   float64
 19  latitude       7207 non-null   float64
dtypes: float64(9), int64(7), object(4)
memory usage: 1.1+ MB

In [18]:
df["legend"].unique()

array(['Extant (resident)', 'Extant & Introduced (resident)',
       'Extant & Origin Uncertain (resident)'], dtype=object)

In [5]:
dataframe = pd.read_csv('data/updated_bird_list.csv')

In [6]:
dataframe.head()

,common_name,count,scientific_name,primary_label,IUCN Red List category (Europe),IUCN Red List category (EU27+UK)
0,African Sacred Ibis,2,threskiornis aethiopicus,sacibi2,NaN,NaN
1,American Tree Sparrow,3,spizelloides arborea,amtspa,NaN,NaN
2,American Wigeon,1,mareca americana,amewig,NaN,NaN
3,Arctic Tern,162,sterna paradisaea,arcter,LC,LC
4,Bank Swallow,86,riparia riparia,banswa,LC,LC